// container properties
$con-width: 940px;
$auto-center: 0 auto;

// font sizes
$f7px: 7px;
$f10px: 10px;
$f11px: 11px;
$f12px: 12px;
$f13px: 13px;
$f14px: 14px;
$f16px: 16px;
$f17px: 17px;
$f18px: 18px;
$f19px: 19px;
$f20px: 20px;
$f21px: 21px;
$f22px: 22px;
$f24px: 24px;
$f26px: 26px;
$f28px: 28px;
$f30px: 30px;
$f45px: 45px;
$f48px: 48px;
$f53px: 53px;

// margins & paddings
$s5px: 5px;
$s7px: 7px;
$s10px: 10px;
$s13px: 13px;
$s15px: 15px;
$s17px: 17px;
$s20px: 20px;
$s22px: 22px;
$s25px: 25px;
$s30px: 30px;
$s35px: 35px;
$s40px: 40px;
$s42px: 42px;
$s45px: 45px;
$s50px: 50px;
$s60px: 60px;
$s70px: 70px;
$s75px: 75px;
$s100px: 100px;

// colors
$black: #303030;
$gray: #b9b9b9;

// line heights
$lh18: 18px;
$lh20: 20px;
$lh21: 21px;
$lh22: 22px;
$lh24: 24px;
$lh25: 25px;
$lh30: 30px;
$lh33: 33px;
$lh35: 35px;
$lh57: 57px;

// letter spacings
$let-spc1: 1px;
$let-spc2: 2px;

// font family
$font: 'Montserrat', sans-serif;

// font weights
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-font: 900;

// text transforms
$upper: uppercase;
$lower: lowercase;
$capit: capitalize;
$none: none;